<%- include('partials/header.ejs')  %>

    <title>APLICAÇÃO WEB - NAO SEI O QUE</title>
</head>

<body>
    <div class="container">
        <%- include('partials/menu.ejs')  %>
    </div>
</body>

<%- include('partials/footer.ejs')  %>