<%- include('partials/header.ejs')  %>
    <title>Agenda Telefonica</title>
</head>

<body>
    <div class="display-1">
        <span>Agenda Telefônica</span>
        <button type="button" class="btn btn-outline-secondary">Iniciar</button>
    </div>
</body>

<%- include('partials/footer.ejs')  %>